body {
    text-align: center;
    background-color: #bdc3c7;
    color: white;
    font-family: Helvetica, Arial;
    margin: auto;
    width: 50%;
}

#add {
    background-color: #C43B43;
    border: 0;
    color: white;
    padding: 10px 10px;
    padding-right: 40px;
    cursor: pointer;
    margin-top: 35px;
}

.remove {
    background-color: #C7C1BD;
    float: right;
    clear: both;
    padding-right: 20px;
    border-radius: 5px;
}

#container {
    width: 450px;
    background-color: #A1AAB0;
    margin: auto;
    margin-top: 150px;
    padding: 30px 65px 30px 50px;
    border-radius: 25px;
}

ul {
    list-style: none;
    text-align: left;
    line-height: 35px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#task {
    width: 320px;
    height: 30px;
    margin-left: 17px;
}

h1 {
    margin-top: 30px;
}
